<div class="row">
    <div class="col-8">
        <div id="test" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let image of images; let i = index" [attr.data-bs-slide-to]="i" [class]="i == 0 ? 'active' : ''" data-bs-interval="2000">
                    <img *ngIf="car.carId == image.carId" [src]="imageUrl + image.imagePath" class="" style="height: 100%; width: 100%; object-fit: contain" [alt]="imageUrl + image.imagePath" />
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#test" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

            <button class="carousel-control-next" type="button" data-bs-target="#test" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h5 class="title font-weight-bold">Araç kirala</h5>
            </div>

            <div class="card-body">
                <form [formGroup]="rentalAddForm">
                    <div class="mb-3">
                        <label for="customerId">Müşteri </label>
                        <div class="form-group">
                            <select id="customerId" class="form-select" formControlName="customerId">
                <option                  
                  *ngFor="let customer of customers"
                  [value]="customer.customerId"
                >
                  {{ customer.firstName }} {{ customer.lastName }}
                </option>
              </select>
                        </div>
                    </div>
                    <input type="hidden" fromControlName="carId">
                    <div class="mb-3">
                        <label for="rentDate">Kiralama tarihi</label>
                        <div class="form-group">
                            <input type="date" id="rentDate" class="form-control" (change)="calcTotalPrice()" formControlName="rentDate" min="{{ rentDate | date: 'dd-MM-yyyy' }}" value="{{ rentDate | date: 'dd-MM-yyyy' }}" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="returnDate">Dönüş tarihi</label>
                        <div class="form-group">
                            <input type="date" id="returnDate" class="form-control" (change)="calcTotalPrice()" formControlName="returnDate" min="{{ returnDate | date: 'dd-MM-yyyy' }}" value="{{ returnDate | date: 'dd-MM-yyyy' }}" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="numberOfDate">Kiralama süresi (gün)</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-group" id="totalPrice">
                            <h5>Toplam ücret : {{ totalPrice }} TL</h5>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <h5>{{ car?.description }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><mark>Id</mark> : {{ car?.carId }}</li>
                    <li class="list-group-item">
                        <mark>Marka</mark> : {{ car?.brandName }}
                    </li>
                    <li class="list-group-item">
                        <mark>Renk</mark> : {{ car?.colorName }}
                    </li>
                    <li class="list-group-item">
                        <mark>Model</mark> : {{ car?.modelYear }}
                    </li>
                    <li class="list-group-item">
                        <mark>Günlük Kira </mark>: {{ car?.dailyPrice }}
                    </li>
                </ul>
                <br />
                <button class="btn btn-fill btn-primary" (click)="add()">
          Kirala ve Ödeme Ekranına Geç
        </button>
            </div>
        </div>
    </div>
</div>